* {
  box-sizing: border-box;
}


body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background-color: rgb(220, 233, 213);

}

ol {
    list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 255); 
  transition: color .1s;
}

a:hover {
  color: rgba(0, 0, 255, 0.5);
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  list-style: none;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 100%;
  min-height: 50px;
}


header {
  border-bottom: 1px solid #ccc;
  padding: 0 1%;
  background-color: rgb(32, 17, 16);
}

nav {
    padding-top: 10px;
    padding-left: 10px;
}

nav a {
  padding: 10px;
  font-weight: bold;
  color: rgb(220, 233, 213);
}

nav a:hover {
  color: rgba(220, 233, 213, 0.5);
}

#main-header {
  background-color:rgb(220, 233, 213);
  border: 2px solid rgb(220, 233, 213);
  border-radius: 10px;
  box-shadow: 5px 5px #888888;
  color: rgb(32, 17, 16);
  padding: 1px;

}

header h1 {
  font-size: 2em;
  padding-left: 20px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(220, 233, 213);
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
}

.btn-no-style:hover {
  background: none;
  color: rgba(220, 233, 213, 0.5);
}

.login-form {
    border: 1px solid black;
}

.new-post-div {
    display: flex;
    justify-content: center;
}

#new-post-btn {
    border: 1px solid black;
    background-color: rgb(32, 17, 16);
    color: rgb(220, 233, 213);
    padding: 5px;
}

#new-post-btn:hover {
    color: rgba(220, 233, 213, 0.5);
}

.post {
    border: 2px solid rgb(32, 17, 16);
    margin-bottom: 10px;
}

.title {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(32, 17, 16);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px;
}

.title span {
    color: rgb(220, 233, 213);
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}


.title a {
  color: rgb(220, 233, 213);
}

.title a:hover {
  color: rgb(220, 233, 213, 0.5);
}

.meta {
    padding-left: 10px;
    padding-right: 10px;
}

.text {
    padding-left: 10px;
}

/* .edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
} */


.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

#comment-btn {
    width: 100%;
}

.dashboard-title {
    background-color: rgb(32, 17, 16);
    color: rgb(220, 233, 213);
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.dashboard-title a {
  color: rgb(220, 233, 213);
}

.dashboard-title a:hover {
  color: rgba(220, 233, 213, 0.5);
}

.new-post-form, .edit-post-form, .sign-form, .login-form {
    border: 1px solid rgb(32, 17, 16);
}

.new-post-content {
    padding: 10px;
}

.new-post-content button, .sign-form button, .login-form button {
    margin-top: 5px;
    width: 100%;
}

.new-post-form input, .edit-post-form input, .sign-form input, .login-form input {
  width: 100%;
}

.sign-form, .login-form {
    padding: 10px;
}

